/* 
	JavaFX layout idea by user:ViictorP
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.label {
    -fx-font-family: 'Bebas Neue', cursive;
}

#nameLabel {
    -fx-font-size: 20;
}

#numberLabel {
    -fx-font-size: 20;
}

#typeOneLabel {
    -fx-font-size: 16;
    -fx-alignment: center;
}
#typeTwoLabel {
    -fx-font-size: 16;
    -fx-alignment: center;
}
#weaknessesOneLabel {
    -fx-alignment: center;
}
#weaknessesTwoLabel {
    -fx-alignment: center;
}
#weaknessesThreeLabel {
    -fx-alignment: center;
}
#weaknessesFourLabel {
    -fx-alignment: center;
}
#weaknessesFiveLabel {
    -fx-alignment: center;
}
#weaknessesSixLabel {
    -fx-alignment: center;
}
#weaknessesSevenLabel {
    -fx-alignment: center;
}
#regionLabel {
    -fx-alignment: center;
    -fx-font-size: 14;
}
#generationLabel {
    -fx-alignment: center;
    -fx-font-size: 18;
}
#heightTxt {
    -fx-alignment: center;
    -fx-font-size: 15;
}
#genderTxt {
    -fx-alignment: center;
    -fx-font-size: 15;
}
#weightTxt {
    -fx-alignment: center;
    -fx-font-size: 15;
}
/*
#categoryTxt {
    -fx-alignment: center;
    -fx-font-size: 15;
}
*/
#heightLabel {
    -fx-alignment: center;
    -fx-font-size: 15;
}
#genderLabel {
    -fx-alignment: center;
    -fx-font-size: 15;
}
#weightLabel {
    -fx-alignment: center;
    -fx-font-size: 15;
}
/* 
#categoryLabel {
    -fx-alignment: center;
    -fx-font-size: 15;
}
*/
.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: White;
    -fx-font-family: 'Bebas Neue', cursive;
    -fx-font-size: 15;
}
/*#alternativeLabelTutorial {
    -fx-alignment: center;
    -fx-font-size: 12;
}
#megaLabelTutorial {
    -fx-alignment: center;
    -fx-font-size: 16;
}
#searchLabelTutorial {
    -fx-alignment: center;
    -fx-font-size: 13;
}
#moveLabelTutorial {
    -fx-alignment: center;
    -fx-font-size: 16;
}  
#shinyLabelTutorial {
    -fx-alignment: center;
    -fx-font-size: 15;
}
#moveAlternativeTutorial {
    -fx-alignment: center;
    -fx-font-size: 14;
}
*/